---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">
            <img width="150" alt="site logo" src="/kklogotransparent.png" />
        </a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Blog</a>
        <a href="/posts/">Work</a>
        <ThemeIcon />
    </div>
</div>

